# Path-based git attributes
# Ignore all test and documentation with "export-ignore"
/.github                export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/benchmarks             export-ignore
/docs                   export-ignore
/Makefile               export-ignore
/package.json           export-ignore
/package-lock.json      export-ignore
/phpunit.xml            export-ignore
/tests                  export-ignore

# Treat all PHP files as text and normalize line endings
*.php text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
